__pycache__/
temp/
Diploma.docx
~$iploma.docx
answers.txt
questions.txt
test.ipynb
variables.data-00000-of-00001
trained_models/transformer/cornell-movies-dialogue-corpus/saved_model.pb
trained_models/transformer/r-conversations/saved_model.pb
data/text_classification/
